<div class="w-100">
  <ul class="list-group list-group-horizontal  d-flex">
    <li routerLink="/catalogo" class="list-group-item flex-fill text-center bg-info p-0">
      <a  class=" btn  btn-outline-primary w-100 h-100 border-0 text-dark rounded-0">Catálogo</a>
    </li>
    <li routerLink="/nosotros" class="list-group-item flex-fill text-center bg-info p-0">
      <a  class=" btn  btn-outline-primary w-100 h-100 border-0 text-dark rounded-0">Nosotros</a>
    </li>
    <li routerLink="/carrito" class="list-group-item flex-fill text-center bg-info p-0">
      <a  class=" btn  btn-outline-primary w-100 h-100 border-0 text-dark rounded-0">Carrito</a>
    </li>
    <li routerLink="/contactanos" class="list-group-item flex-fill text-center bg-info p-0">
      <a  class=" btn  btn-outline-primary w-100 h-100 border-0 text-dark rounded-0">Contáctanos</a>
    </li>
  </ul>
</div>