<body
    style="background-image: url(../assets/images/background.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <h1 class="text-center display-2">Términos y Condiciones del Sitio Web de BPO (Best Paints Only)</h1>
    <p class="text-center fs-3">¡Hola y bienvenido a BPO (Best Paints Only)! Estamos emocionados de que hayas
        decidido unirte a nosotros en nuestra búsqueda de las mejores pinturas para tus
        proyectos creativos. Antes de sumergirte en nuestra amplia selección de productos,
        por favor toma un momento para revisar nuestros términos y condiciones. Al usar
        nuestro sitio web, aceptas cumplir con estos términos y cualquier política adicional
        mencionada aquí.</p>

    <h1 class="text-center display-2">Registro y Cuenta de Usuario</h1>
    <p class="text-center fs-3">Para disfrutar de todos los beneficios que ofrece BPO, te recomendamos registrarte
        y crear una cuenta de usuario. ¡Es fácil y rápido!

        Al registrarte, aceptas proporcionar información precisa y actualizada sobre ti
        mismo. Además, eres responsable de mantener la confidencialidad de tu cuenta y
        contraseña.</p>

    <h1 class="text-center display-2">Productos y Precios:</h1>
    <p class="text-center fs-3">En BPO nos esforzamos por ofrecer una selección exclusiva de las mejores pinturas
        del mercado a precios competitivos. Sin embargo, nos reservamos el derecho de
        ajustar los precios en cualquier momento sin previo aviso.

        Hacemos todo lo posible por proporcionar descripciones detalladas y precisas de
        nuestros productos, pero ten en cuenta que los colores pueden variar ligeramente
        en función de la configuración de tu pantalla.</p>

    <h1 class="text-center display-2">Proceso de Compra:</h1>

    <p class="text-center fs-3">Al realizar un pedido en BPO, aceptas abonar el monto total indicado, incluidos los
        impuestos y los gastos de envío, si corresponde.

        Nos reservamos el derecho de rechazar o cancelar pedidos por diversas razones,
        como productos agotados, errores en la información del producto o actividades
        sospechosas de fraude.</p>

    <h1 class="text-center display-2">Envíos y Entregas:</h1>

    <p class="text-center fs-3">Nos comprometemos a procesar y enviar tus pedidos con la mayor rapidez posible.
        Sin embargo, no podemos hacernos responsables de retrasos en la entrega que
        estén fuera de nuestro control, como condiciones climáticas adversas o problemas
        logísticos.

        Una vez que el transportista entrega los productos en la dirección de envío
        especificada, el riesgo de pérdida o daño se transfiere al comprador.</p>

    <h1 class="text-center display-2">Devoluciones y Reembolsos:</h1>

    <p class="text-center fs-3">Aceptamos devoluciones dentro de un plazo de 30 días a partir de la fecha de
        recepción de los productos, siempre que estén en su estado original y sin usar.

        Si deseas devolver un producto, contáctanos para obtener instrucciones sobre
        cómo proceder. Ten en cuenta que los gastos de envío de devolución corren por
        cuenta del cliente, a menos que el motivo de la devolución sea un error nuestro o
        un producto defectuoso.</p>

    <h1 class="text-center display-2"> Propiedad Intelectual:</h1>

    <p class="text-center fs-3">Todos los contenidos y materiales disponibles en el sitio web de BPO, incluidos
        textos, imágenes, logotipos y marcas registradas, están protegidos por derechos de
        autor y otros derechos de propiedad intelectual.
        No puedes utilizar, copiar, reproducir, modificar, distribuir o transmitir ningún
        contenido de nuestro sitio web sin nuestro consentimiento previo por escrito.
    </p>


    <h1 class="text-center display-2"> Privacidad y Seguridad:</h1>

    <p class="text-center fs-3">En BPO valoramos tu privacidad y nos comprometemos a proteger la información
        personal que nos proporcionas. Consulta nuestra política de privacidad para
        obtener más detalles sobre cómo recopilamos, utilizamos y protegemos tus datos.
        Implementamos medidas de seguridad adecuadas para proteger tus datos contra
        accesos no autorizados o divulgación, pero ten en cuenta que no podemos
        garantizar la seguridad absoluta de la información transmitida a través de Internet.
    </p>

    <h1 class="text-center display-2">Modificaciones a los Términos y Condiciones
        :</h1>

    <p class="text-center fs-3">Nos reservamos el derecho de actualizar o modificar estos términos y condiciones
        en cualquier momento sin previo aviso. Te recomendamos que revises
        periódicamente esta página para estar al tanto de cualquier cambio.
        ¡Gracias por elegir BPO (Best Paints Only)! Si tienes alguna pregunta o inquietud,
        no dudes en ponerte en contacto con nosotros. ¡Que tus proyectos de pintura sean
        siempre inspiradores y llenos de color! 
    </p>

    <body>