 <div class="row">
    <div class="col-2 bg-secondary border border-black fs-5"> 
            <ul>Pinturas:
                <ul>Color:
                    <li>amarillo</li>
                    <li>azul</li>
                    <li>blanco</li>
                    <li>celeste</li>
                    <li>dorado</li>
                    <li>gris</li>
                    <li>naranja</li>
                    <li>negro</li>
                    <li>rojo</li>
                    <li>rosa</li>
                    <li>verde</li>
                    <li>crema</li>
                </ul>
            </ul>
            <li>
              Precios:  
            </li>
        <p class="text-center">Desde</p>
        <input class="form-control text-center mb-3">
        <p class="text-center">Hasta</p>
        <input class="form-control text-center">
        <ul>Otros:
            <li>Spray</li>
            <li>Rodillos</li>
            <li>Brochas</li>
        </ul>
    </div>
    <div class="col-10">
        <div class="row">
            <div class="col-4">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint2.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark
                      text-center fs-5 rounded-0 w-75 btn-lg" routerLink="producto">Ver</button>
                </div>
            </div>
            <div class="col-4">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint3.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
            <div class="col-4">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint4.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint5.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint6.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint7.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint8.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint9.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
            <div class="col-4 mt-3">
                <div class=" p-2 text-center">
                    <div class="border border-3 p-2 border-black">
                        <img src="../assets/images/bluePaint10.jpg" class=" w-100 img-cover" alt="...">
                    </div>
                    <p class="text-center fs-3">Pintura </p>
                    <p class="text-center fs-3">Precio</p>
                    <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
                </div>
            </div>
        </div>

    </div>
    
  </div>
