<div class="border border-3 border-black mx-3 overflow-auto" style="max-height: 300px;">
    <div class="row text-center">
        <div class="col-md-5  col-2">
            <p>Producto:</p>
        </div>
        <div class="col-2">
            <p>Precio:</p>
        </div>
        <div class="col-2">
            <p>Cantidad:</p>
        </div>
        <div class="col-2">
            <p>Subtotal:</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2">
            <img src="../assets/images/bluePaint3.jpg" class=" w-75 img-cover" alt="...">
        </div>
        <div class="col-3 mt-5">
            <p>Nombre de la pintura</p>
        </div>
        
        <div class="col-2 mt-5">
            <p>200?</p>
        </div>
        <div class="col-2 mt-5">
            <p>num.???</p>
        </div>
        <div class="col-2 mt-5">
            <p>Subt??</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2">
            <img src="../assets/images/bluePaint3.jpg" class=" w-75 img-cover" alt="...">
        </div>
        <div class="col-3 mt-5">
            <p>Nombre de la pintura</p>
        </div>
        
        <div class="col-2 mt-5">
            <p>200?</p>
        </div>
        <div class="col-2 mt-5">
            <p>num.???</p>
        </div>
        <div class="col-2 mt-5">
            <p>Subt??</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2">
            <img src="../assets/images/bluePaint3.jpg" class=" w-75 img-cover" alt="...">
        </div>
        <div class="col-3 mt-5">
            <p>Nombre de la pintura</p>
        </div>
        
        <div class="col-2 mt-5">
            <p>200?</p>
        </div>
        <div class="col-2 mt-5">
            <p>num.???</p>
        </div>
        <div class="col-2 mt-5">
            <p>Subt??</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-2">
            <img src="../assets/images/bluePaint3.jpg" class=" w-75 img-cover" alt="...">
        </div>
        <div class="col-3 mt-5">
            <p>Nombre de la pintura</p>
        </div>
        
        <div class="col-2 mt-5">
            <p>200?</p>
        </div>
        <div class="col-2 mt-5">
            <p>num.???</p>
        </div>
        <div class="col-2 mt-5">
            <p>Subt??</p>
        </div>
    </div>

</div>

<div class="row mt-5 mx-3">
    <p class="display-6 mt-5">
        Total a pagar:    
    </p>
    <div class="col-2 col-md-3">
        <button class="btn btn-lg btn-dark btn-outline-light mx-2">Pagar</button>
    </div>
    <div class="mt-5 border border-black border-3 col-2 item-center d-flex justify-content-center mx-5">
        <p class="fs-3"> $2000</p>
    </div>
</div>

<p class="display-3 text-center">
    Volver a comprar:
</p>
<div>
    <div class="row">
        <div class="col-4">
            <div class=" p-2 text-center">
                <div class="border border-3 p-2 border-black">
                    <img src="../assets/images/bluePaint2.jpg" class=" w-100 img-cover" alt="...">
                </div>
                <p class="text-center fs-3">Pintura </p>
                <p class="text-center fs-3">Precio</p>
                <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
            </div>
        </div>
        <div class="col-4">
            <div class=" p-2 text-center">
                <div class="border border-3 p-2 border-black">
                    <img src="../assets/images/bluePaint3.jpg" class=" w-100 img-cover" alt="...">
                </div>
                <p class="text-center fs-3">Pintura </p>
                <p class="text-center fs-3">Precio</p>
                <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
            </div>
        </div>
        <div class="col-4">
            <div class=" p-2 text-center">
                <div class="border border-3 p-2 border-black">
                    <img src="../assets/images/bluePaint4.jpg" class=" w-100 img-cover" alt="...">
                </div>
                <p class="text-center fs-3">Pintura </p>
                <p class="text-center fs-3">Precio</p>
                <button class="border-3 border-black btn btn-success btn-outline-primary text-dark  text-center fs-5 rounded-0 w-75 btn-lg">Ver</button>
            </div>
        </div>
    </div>
</div>


