<div class="container text-center">
    <div class="col-8 border border-3 p-2 border-black w-100 img-cover">
        <img src="../assets/images/orangePaint.jpg" class="w-100" alt="...">
    </div>
    <div class="col-4 border border-3 p-2 border-black w-100 img-cover">
        <img src="../assets/images/orangePaint.jpg" class="w-100" alt="...">
    </div>
    <div class="col-4 mt-3 border border-3 p-2 border-black w-100 img-cover" >
        <img src="../assets/images/orangePaint.jpg" class="w-100" alt="...">
    </div>


</div>