<div class="container justify-content-center align-items-center ">
    <div class="p-2 mt-5">
        <h1 class="text-center display-3">Pinturas destacadas</h1>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-4">
                <div class="border border-3 border-black p-2">
                    <img src="../assets/images/bluePaint.jpg" class="w-100 img-cover" alt="...">
                </div>
            </div>
            <div class="col-8">
                <div class="border border-3 border-black p-2 ta-c">
                    <h3 class="text-center">"Amanecer en el Hogar"</h3>
                    <p class="fs-3 text-center">Sumérgete en la serenidad del cielo con nuestra pintura para el hogar en un tono azul cielo, que
                        infunde cada rincón con una sensación de frescura y tranquilidad.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="row">
            <div class="col-4">
                <div class="border border-3 border-black p-2 ">
                    <img src="../assets/images/orangePaint.jpg" class="w-100" alt="...">
                </div>
            </div>
            <div class="col-8">
                <div class="border border-3 border-black p-2 text-center">
                    <h3 class=""> "Amanecer Ardiente"</h3>
                    <p class="fs-3">Despierta tu hogar con la energía del sol con nuestra pintura para interiores en tono naranja vibrante. 
                         Esta elección de color añade un toque de calidez y vitalidad a cualquier habitación .</p>
                </div>
            </div>
        </div>
    </div>


<!-- <div class="container-fluid justify-content-center align-items-center ">
    <div class="mt-5 mx-5 d-flex row justify-content-center  ">
        <div class="row align-items-center ml-5" style="height:300px;">
            <div class="col-4 border borde-negro p-3">
                <img src="../assets/images/pinturas-slider-3-temporal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="col-4 border borde-negro p-3" style="margin-left: 10%;">
                <h3>"Amanecer Ardiente"</h3>
                <p>Despierta tu hogar con la energía del sol con nuestra pintura para interiores en tono naranja
                    vibrante. Esta elección de color añade un toque de calidez y vitalidad a cualquier habitación </p>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto p-2 mt-5">
    <h1 class="text-center">Consejos de diseño</h1>
</div>

<div class="container-fluid justify-content-center align-items-center ">
    <div class="mt-5 mx-5 d-flex row justify-content-center  ">
        <div class="row align-items-center ml-5" style="height:300px;">
            <div class="col-4 border borde-negro p-3">
                <img src="../assets/images/pinturas-slider-3-temporal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="col-4 border borde-negro p-3" style="margin-left: 10%;">
                <h3>Planifica tu paleta de colores:</h3>
                <p>Elige una paleta de colores coherente para toda la casa para crear un flujo visual. Considera la luz
                    natural y el tamaño de la habitación al elegir colores.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center align-items-center ">
    <div class="mt-5 mx-5 d-flex row justify-content-center  ">
        <div class="row align-items-center ml-5" style="height:300px;">
            <div class="col-4 border borde-negro p-3">
                <img src="../assets/images/pinturas-slider-3-temporal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="col-4 border borde-negro p-3" style="margin-left: 10%;">
                <h3>Prueba antes de pintar:</h3>
                <p>Siempre prueba los colores de pintura en pequeñas áreas de la pared antes de comprometerte. La
                    pintura puede lucir diferente en la pared que en la muestra.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid justify-content-center align-items-center ">
    <div class="mt-5 mx-5 d-flex row justify-content-center  ">
        <div class="row align-items-center ml-5" style="height:300px;">
            <div class="col-4 border borde-negro p-3">
                <img src="../assets/images/pinturas-slider-3-temporal.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="col-4 border borde-negro p-3" style="margin-left: 10%;">
                <h3>Juega con texturas:</h3>
                <p>Experimenta con diferentes acabados de pintura (mate, satinado, semibrillante) para añadir interés
                    visual y textura a las paredes.</p>
            </div>
        </div>
    </div>
</div> -->