<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a href=""ass="navbar-brand">
      <img class=" btn btn-outline-primary img-fluid mx-auto" src="../assets/logos/BPOLogo.jpg" alt="Bootstrap" width="70" height="204">
    </a>
    <form class="d-flex" role="search">
      <div class="input-group mb-3">
        <span class="input-group-text bg-white border-0 " id="basic-addon1"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control bg-white border-0 form-control-lg" placeholder="Buscador"
          aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </form>

    <div class="d-flex">
      <button class="btn btn-lg btn-light btn-outline-dark mx-2" type="submit">Iniciar sesion </button>
      <button class="btn btn-lg btn-dark btn-outline-light mx-2" type="submit">Registrarse </button>
    </div>
  </div>
  <div class="w-100">
    <app-menu />
  </div>
</nav>