<h2 class="display-3 text-center">Contáctanos:</h2>
<p class="fs-3 text-center">¿Tienes alguna pregunta o necesitas más información? ¡Estamos aquí para ayudarte!</p>

<div class="container text-center mt-3">
    <div class="row align-items-center">
        <div class="col-2 col-md-5 text-md-end">
            <img src="../assets/logos/logoEmail.jpg" class="img-fluid" alt="..." style="max-width: 100px; height: auto;">
        </div>
        <div class="col-2 col-md-1">
            <h2 class="display-5">Correo:</h2>
        </div>
    </div>
</div>
<p class="fs-3 text-center">holaarrobabpo.com</p>

<div class="container text-center mt-3">
    <div class="row align-items-center">
        <div class="col-2 col-md-5 text-md-end">
            <img src="../assets/logos/LogoTelefono.jpg" class="img-fluid" alt="..." style="max-width: 100px; height: auto;">
        </div>
        <div class="col-2 col-md-1">
            <h2 class="display-5">Teléfono:</h2>
        </div>
    </div>
</div>
<p class="fs-3 text-center">+1 (555) 123-4567</p>

<div class="container text-center mt-3">
    <div class="row align-items-center">
        <div class="col-2 col-md-5 text-md-end">
            <img src="../assets/logos/LogoMaleta.jpg" class="img-fluid" alt="..." style="max-width: 100px; height: auto;">
        </div>
        <div class="col-2 col-md-1">
            <h2 class="display-5">Oficina:</h2>
        </div>
    </div>
</div>
<p class="fs-3 text-center">Calle Ejemplo 123, Ciudad, Estado, Código Postal</p>

<div class="container text-center mt-5">
    <div class="row align-items-center">
        <div class="col-2 col-md-5 text-md-end">
            <img src="../assets/logos/LogoUbicacion.jpg" class="img-fluid" alt="..." style="max-width: 100px; height: auto;">
        </div>
        <div class="col-2 col-md-1">
            <h2 class="display-5">Ubicación:</h2>
        </div>
    </div>
</div>

